{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}
{% load format_extras %}

{% block title %}{% trans "Permission Denied" %}{% endblock %}

{% block nav_options %}

<div class="shift-nav">
  <ul class="navbar-nav mr-auto d-flex flex-row">
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:lecture_list' %}" role="button">{% trans "Lecture List" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<center>
  <h1 class="my-2">403 Forbidden</h1>
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
</center>
{% endblock %}
