{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}
{% load format_extras %}

{% block title %}{% trans "Page Does Not Exist" %}{% endblock %}

{% block nav_options %}
{% if user.is_authenticated %}
<div class="shift-nav">
  <ul class="navbar-nav mr-auto d-flex flex-row">
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:lecture_list' %}" role="button">{% trans "Lecture List" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
    </li>
  </ul>
</div>
{% else %}
<div class="shift-nav">
  <ul class="navbar-nav mr-auto d-flex flex-row">
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:connect' %}" role="button">{% trans "Connect As User" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:login' %}" role="button">{% trans "Login As Staff" %}</a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<center>
  <h1 class="my-2">404 Page Not Found</h1>
  <h4>The requested page does not exist on this server</h4>
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
</center>
{% endblock %}
