<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {% load i18n %}

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <script src="{% static 'js/lib/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  </head>

  <body style="font-size:14px">
    {% block script %}{% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
      <span id="web_app_title" class="text-white mb-0">
        {% trans "Lecture Feedback System" %}
        <small>
          {% if user.is_authenticated %}
            {{user.get_full_name}} ({{user.email}})
          {% endif %}
        </small>
      </span>
      {% block nav_options %}
      {% endblock %}
    </nav>

    {% block content %}
    {% endblock %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    {% if LANGUAGE_CODE == "en" %}
      <form action="{% url 'set_language' %}" method="post" class="float-right">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
        <input name="language" type="hidden" value="cy" />
        <input class="fixed-bottom ml-4 mb-4 btn btn-info" type="submit" value="Cymraeg"/>
      </form>
    {% else %}
      <form action="{% url 'set_language' %}" method="post" class="float-right">
        {% csrf_token %}
        <!--  Need slice:'3:' becasue need to remove /cy prefix when going back to english version of site-->
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
        <input name="language" type="hidden" value="en" />
        <input class="fixed-bottom ml-4 mb-4 btn btn-info" type="submit" value="English"/>
      </form>
    {% endif %}

    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib/Chart.min.js' %}"></script>
  </body>
</html>
