{% extends 'base_layout.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Connect" %}{% endblock %}

{% block content %}
<div class="container-fluid pb-3">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <form action="{% url 'staff:connect' %}" method="post" class="form border rounded m-4 p-2 bg-light">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-default">
          {% trans "Connect" %}
        </button>
        {% endbuttons %}
      </form>
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
