{% extends 'base_layout.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Lecture Feedback" %}{% endblock %}

{% block content %}
<div class="container-fluid bg-light py-3">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-sm-auto">
      <center><h3>{% trans "Lecture Detail" %}</h3></center>
      <hr class="mt-0"/>
      <form>
        <div class="form-group">
          <label for="exampleFormControl0">{% trans "Code" %}</label>
          <input class="form-control" id="exampleFormControl0" type="text" placeholder="{{lecture.session_code}}" readonly>
          <label for="exampleFormControl1">{% trans "Lecture Title" %}</label>
          <input class="form-control" id="exampleFormControl1" type="text" placeholder="{{lecture.title}}" readonly>
          <label for="exampleFormControl2">{% trans "Lecture Author" %}</label>
          <input class="form-control" id="exampleFormControl2" type="text" placeholder="{{user.get_full_name}} {{user.email}}" readonly>
          <label for="exampleFormControl3">{% trans "No. Slides" %}</label>
          <input class="form-control" id="exampleFormControl3" type="text" placeholder="{{lecture.slide_count}}" readonly>
          <label for="exampleFormControl6">{% trans "Total Runtime" %}</label>
          <input class="form-control" id="exampleFormControl6" type="text" placeholder="{{lecture.getTotalRuntime}}" readonly>
        </div>
      </form>
    </div>
    <div class="col-sm-auto">
      <center><h3>{% trans "Give Feedback" %}</h3></center>
      <hr class="mt-0"/>
      <form action="{% url 'staff:feedback' %}" method="post" class="px-4">
        {% csrf_token %}
        {% bootstrap_form feedback_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans "Submit" %}
        </button>
        {% endbuttons %}
      </form>
    </div>
    <div class="col-sm-auto">
      <center><h3>{% trans "Ask Questions" %}</h3></center>
      <hr class="mt-0"/>
      <form action="{% url 'staff:question_new' %}" method="post" class="px-4">
        {% csrf_token %}
        {% bootstrap_form question_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans "Post" %}
        </button>
        {% endbuttons %}
      </form>
      <center><h3>{% trans "Your Questions" %}</h3></center>
      <hr class="mt-0"/>
      {% if questions %}
        <ul class="list-group list-group-flush">
          {% for question in questions %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ question.question_text }}<a href="{% url 'staff:question_delete' question.id %}" role="button" class="btn btn-danger ml-1">{% trans "Remove" %}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No questions asked</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
