{% extends 'base_layout.html' %}
{% load i18n %}

{% block title %}
{% trans "Lecture History" %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <span class="navbar-brand h2 mb-0">{% trans "Lecture Feedback System" %} <small>{% if user.is_authenticated %}{{user.get_full_name}} ({{user.email}}){% endif %}</small></span>
  <div>
    <ul class="navbar-nav mr-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link border-right border-white p-3" href="{% url 'staff:index' %}" role="button">{% trans "Lecture History" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border-left border-white p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
      </li>
    </ul>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  // window.onbeforeunload = function(){
  //   //alert('Session is still active. Are you sure you want to leave?'); - doesnt work most of the time
  //   //my text isnt being displayed browsers display default messages
  //   return 'Session is still active. Are you sure you want to leave?';
  // };

  $(document).ready(function(){
    $("#toggleDetailBtn").click(function(){
      $("#detailDiv1").toggle();
      $("#detailDiv2").toggle();
    });
  });
  $(document).ready(function(){
    $("#toggleSessionBtn").click(function(){
      $("#sessionDiv").toggle();
    });
  });
  $(document).ready(function(){
    $("#toggleQuestionBtn").click(function(){
      $("#questionDiv").toggle();
    });
  });
  $(document).ready(function(){
    $("#toggleGraphBtn").click(function(){
      $("canvas").toggle();
    });
  });
</script>

<div class="container-fluid bg-light pb-3">
  <div class="row">
    <div class="col-sm-auto bg-dark d-flex flex-row p-3 rounded-bottom-right">
      <button class="btn mx-1" type="button" id="toggleDetailBtn">Toggle Detail</button>
      <button class="btn mx-1" type="button" id="toggleSessionBtn">Toggle Sessions</button>
      <button class="btn mx-1" type="button" id="toggleQuestionBtn">Toggle Questions</button>
      <button class="btn mx-1" type="button" id="toggleGraphBtn">Toggle Graphs</button>
    </div>
  </div>
  <div class="row my-4 d-flex justify-content-center">
    <div class="col-sm-6">
      <hr />
      <div class="d-flex justify-content-between">
        <div>
          <h2>{% trans "Session Code" %}: {{ lecture.session_code }}</h2>
          <h4>{% trans "Session Running" %}: {{ lecture.is_running }}</h4>
          <h4>{% trans "Questions Enabled" %}: {{ lecture.is_taking_questions }}</h4>
        </div>
        <div>
          <button type="button" class="btn btn-lg btn-outline-success m-2">Run Session</button>
          <button type="button" class="btn btn-lg btn-outline-danger m-2">Stop Session</button>
          <button type="button" class="btn btn-lg btn-outline-primary m-2">Toggle Overlay</button>
          <br />
          <button type="button" class="btn btn-lg btn-outline-secondary m-2">Disable Questions</button>
          <button type="button" class="btn btn-lg btn-outline-secondary m-2">Generate New Session Code</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="detailDiv1">
      <form>
        <div class="form-group">
          <label for="exampleFormControl1">Session Title</label>
          <input class="form-control" id="exampleFormControl1" type="text" placeholder="Illustration of Computer Systems" readonly>
          <label for="exampleFormControl2">Session Author</label>
          <input class="form-control" id="exampleFormControl2" type="text" placeholder="Chris Loftus cwl@aber.ac.uk" readonly>
          <label for="exampleFormControl3">No. Slides</label>
          <input class="form-control" id="exampleFormControl3" type="text" placeholder="23" readonly>
        </div>
    </div>
    <div class="col-sm-3" id="detailDiv2">
      <div class="form-group">
        <label for="exampleFormControl8">First Started</label>
        <input class="form-control" id="exampleFormControl8" type="text" placeholder="20/03/2019 15:10:05" readonly>
        <label for="exampleFormControl7">Last Ended</label>
        <input class="form-control" id="exampleFormControl7" type="text" placeholder="20/03/2019 16:20:32" readonly>
        <label for="exampleFormControl6">Total Runtime</label>
        <input class="form-control" id="exampleFormControl6" type="text" placeholder="0hrs 28mins 30secs" readonly>
      </div>
    </div>
    </form>
  </div>
  <div class="row my-4  d-flex justify-content-center">
    <div class="col-sm-6" id="sessionDiv">
      <center>
        <h3>Session Sections</h3>
      </center>
      <hr class="mt-0" />
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Section</th>
            <th scope="col">Startime</th>
            <th scope="col">Endtime</th>
            <th scope="col">Runtime</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>30/10/2019 10:08:00</td>
            <td>30/10/2019 10:12:00</td>
            <td>0hrs 4m 23s</td>
          </tr>
          <tr>
            <th>2</th>
            <td>30/10/2019 10:20:00</td>
            <td>30/10/2019 10:25:00</td>
            <td>0hrs 5m 2s</td>
          </tr>
          <tr>
            <th>3</th>
            <td>30/10/2019 10:41:00</td>
            <td>30/10/2019 11:00:00</td>
            <td>0hrs 19m 5s</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6" id="questionDiv">
      <center>
        <h3>Current Questions</h3>
      </center>
      <hr class="mt-0" />

      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">Why is the sky blue? <button type="button" class="btn btn-danger ml-1">Delete</button></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">I really like this lecture.<button type="button" class="btn btn-danger ml-1">Delete</button></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Can you go over the part about responsive web design? pls<button type="button" class="btn btn-danger ml-1">Delete</button></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Why is the sky blue? <button type="button" class="btn btn-danger ml-1">Delete</button></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">I really like this lecture.<button type="button" class="btn btn-danger ml-1">Delete</button></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Can you go over the part about responsive web design? pls<button type="button" class="btn btn-danger ml-1">Delete</button></li>
      </ul>
    </div>
  </div>
  <div class="row my-4  d-flex justify-content-center">
    <div class="col-sm-auto">
      <canvas id="canvas1" class="border border-dark  m-1"></canvas>
    </div>
    <div class="col-sm-auto">
      <canvas id="canvas2" class="border border-dark  m-1"></canvas>
    </div>
    <div class="col-sm-auto">
      <canvas id="canvas3" class="border border-dark  m-1"></canvas>
    </div>
    <div class="col-sm-auto">
      <canvas id="canvas4" class="border border-dark  m-1"></canvas>
    </div>
    <div class="col-sm-auto">
      <canvas id="canvas5" class="border border-dark  m-1"></canvas>
    </div>
  </div>
</div>
</div>

<script>
  for (var i = 1; i < 6; i++) {
    var canvas = document.getElementById("canvas" + i.toString());
    var ctx = canvas.getContext("2d");
    ctx.font = "35px Arial";
    ctx.fillText("JS Canvas Graph", 10, 50);
  }
</script>
{% endblock %}
