<html>
  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {% load i18n %}

    <style>
      /*Code to get user under navbar title*/
      .navbar-brand small {
      display:block;
      font-size:12px;
      }
      #id_lecture_pdf_file{
        margin-left: 1rem;
      }
      .rounded-bottom-right{
        border-bottom-right-radius: 15px
      }
      /*Code to set background image*/
      /* body{
        background-image: url("{% static "img/aber_landscape12.jpg" %}");
      } */
    </style>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    {% block content %}
    {% endblock %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    {% if LANGUAGE_CODE == "en" %}
      <form action="{% url 'set_language' %}" method="post" class="float-right">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
        <input name="language" type="hidden" value="cy" />
        <input class="fixed-bottom ml-4 mb-4 btn btn-info" type="submit" value="Newid i'r Gymraeg"/>
      </form>
    {% else %}
      <form action="{% url 'set_language' %}" method="post" class="float-right">
        {% csrf_token %}
        <!--  Need slice:'3:' becasue need to remove /cy prefix when going back to english version of site-->
        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
        <input name="language" type="hidden" value="en" />
        <input class="fixed-bottom ml-4 mb-4 btn btn-info" type="submit" value="Switch to English"/>
      </form>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
