{% load i18n %}
{% load format_extras %}

<center>
  <h3>{% trans "Feedback Sessions" %}</h3>
</center>
<hr class="border border-white"/>
{% if sessions %}
<div class="table-responsive">
  <table id="session_table" class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% trans "Session" %}</th>
        <th scope="col">{% trans "Code" %}</th>
        <th scope="col">{% trans "Startime" %}</th>
        <th scope="col">{% trans "Endtime" %}</th>
        <th scope="col">{% trans "Runtime" %}</th>
        {% block extra_table_heading %}{% endblock %}
      </tr>
    </thead>
    <tbody class="bg-light">
      {% for session in sessions %}
      <tr id="{{ session.id }}" class="session_row {% if forloop.last %}bg-info{% endif %}">
        <th>{{ forloop.counter }}</th>
        <td>{{ session.code }}</td>
        <td>{{ session.start_time|date:'d M, Y - h:i a' }}</td>
        {% if forloop.last and session.is_running %}
        <td>{% trans "Session Running" %}</td>
        {% else %}
        <td>{{ session.end_time|date:'d M, Y - h:i a' }}</td>
        {% endif %}
        <td class="time">{{ session.get_runtime|runtime_format }}</td>
        {% block extra_table_column %}{% endblock %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<center>
  <h4>{% trans "No Sessions" %}</h4>
</center>
{% endif %}
