{% extends 'base_layout.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load format_extras %}

{% block title %}{% trans "Lecture Feedback" %}{% endblock %}
{% block session_code %}{{session.code}}{% endblock %}
{% block nav_options %}
  <div class="shift-nav">
    <ul class="navbar-nav mr-auto d-flex flex-row">
      {% if lecture.file %}
      <li class="nav-item">
        <a class="nav-link p-3" href="{% url 'staff:lecture_file_view' lecture.id %}" role="button">{% trans "View Lecture PDF" %}</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link p-3" href="{% url 'staff:disconnect' %}" role="button">{% trans "Disconnect" %}</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light h-100">
  {% if request.session.connected_session_id %}
  <div class="row">
    <div class="col-sm-auto bg-dark h3 text-white py-2 px-4 rounded-bottom-right">
      <span>{% trans "Session Code" %}: {{session.code}}</span>
    </div>
  </div>
  {% endif %}
  {% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% endif %}
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5 border-right border-left">
      <center><h3>{% trans "Give Feedback" %}</h3></center>
      <hr class="mt-0"/>
      <form action="{% url 'staff:feedback_create' %}" method="post" class="px-4">
        {% csrf_token %}
        {% bootstrap_form feedback_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans "Submit" %}
        </button>
        {% endbuttons %}
      </form>
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success text-center" role="alert">{{ message }}</div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <div class="alert alert-warning text-center" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-sm-5 border-right border-left">
      {% if session.is_taking_questions %}
        <center><h3>{% trans "Ask Questions" %}</h3></center>
        <hr class="mt-0"/>
        <form action="{% url 'staff:question_create' %}" method="post" class="px-4">
          {% csrf_token %}
          {% bootstrap_form question_form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% trans "Post" %}
          </button>
          {% endbuttons %}
        </form>
      {% else %}
        <div class="alert alert-info text-center" role="alert">{% trans 'Session not currently taking questions' %}</div>
      {% endif %}
      <center><h3>{% trans "Your Questions" %}</h3></center>
      <hr class="mt-0"/>
      {% if questions %}
        <ul class="list-group list-group-flush">
          {% for question in questions %}
            <li class="list-group-item">
              <div class="row d-flex justify-content-between">
                <div class="col-2">
                  <small>{{question.get_time_posted_ago|question_time_format}}</small>
                </div>
                <div class="col-8 fix_overflow">
                  {{ question.question_text }}
                </div>
                <div class="col-2">
                  <a href="{% url 'staff:question_delete' question.id %}" role="button" class="btn btn-danger ml-1">{% trans "Remove" %}</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No questions asked</p>
      {% endif %}
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
{% endblock %}
