{% load i18n %}
{% load format_extras %}


{% if sessions %}
<center>
  <h3>{% trans "Feedback Sessions" %}</h3>
</center>
<hr class="border border-white"/>
<div class="table-responsive">
  <table id="session_table" class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% trans "Session" %}</th>
        <th scope="col">{% trans "Code" %}</th>
        <th scope="col">{% trans "Startime" %}</th>
        <th scope="col">{% trans "Endtime" %}</th>
        <th scope="col">{% trans "Runtime" %}</th>
      </tr>
    </thead>
    <tbody class="bg-light">
      {% for session in sessions %}
      <tr id="{{ session.id }}" class="session_row {% if forloop.last %}bg-info{% endif %}">
        <th>{{ forloop.counter }}</th>
        <td>{{ session.code }}</td>
        <td>{{ session.get_first_start_time|date:'d M, Y - h:i a' }}</td>
        {% if session.is_running %}
          <td>
            {% trans "Session Running" %}<br />
          </td>
        {% else %}
        <td>{{ session.get_last_end_time|date:'d M, Y - h:i a' }}</td>
        {% endif %}
        <td class="time">{{ session.get_total_runtime|runtime_format }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <div class="alert alert-secondary m-5" role="alert"><center>
    <h1 class="display-1 border border-top border-bottom">{% trans 'No Sessions' %}</h1>
  </center></div>
{% endif %}
