{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}
{% load format_extras %}

{% block title %}{% trans "Feedback Detail" %}{% endblock %}


{% block script %}
<script src="{% static 'js/feedback_detail.js' %}"></script>
{% endblock %}

{% block nav_options %}
<div class="shift-nav">
  <ul class="navbar-nav mr-auto d-flex flex-row">
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:lecture_detail' lecture.id %}" role="button">{% trans "Lecture Detail" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
  <div class="row bg-dark">
    <div class="col-sm-3 pt-3 text-white" id="sessionDiv">
      {% include 'staff/feedback_sessions_list.html' %}
    </div>
    <div class="col-sm-9 pt-3 bg-light">
      <center>
        <h3>{% trans "View the Feedback" %}</h3>
      </center>
      <hr class="mt-0" />
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <canvas id="pie-chart-1" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-3">
          <select id="feedback_choice" class="float-right">
            <option value="all">All Feedback</option>
            <option value="general">General Feedback Only</option>
            {% for i in i|rjust:lecture.slide_count %}
                <option value="{{ forloop.counter }}">Slide {{ forloop.counter }} Feedback Only</option>
            {% endfor %}
          </select>
          <select id="chart_choice" class="float-right">
            <option value="pie">Pie Charts</option>
            <option value="bar">Bar Charts</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <canvas id="pie-chart-2" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
          <canvas id="pie-chart-3" width="800" height="450"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <canvas id="pie-chart-4" width="800" height="450"></canvas>
        </div>
        <div class="col-sm-6">
          <canvas id="pie-chart-5" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="lectureID" name="lecture" value="{{ lecture.id }}">
{% endblock %}
