{% extends 'base_layout.html' %}
{% load i18n %}

{% block title %}{% trans "Lecture List" %}{% endblock %}

{% block nav_options %}
  <div class="shift-nav">
    <ul class="navbar-nav mr-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link p-3" href="{% url 'staff:lecture_create' %}" role="button">{% trans "New Lecture" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light h-100">
  <div class="row d-flex justify-content-between">
    <div class="col-sm-auto bg-dark d-flex flex-row p-3 rounded-bottom-right">
      <form method="GET" action="" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="{% trans 'Search' %}" value="{{ request.GET.q }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
      </form>
      <!-- <button href="" type="button" class="btn btn-danger my-2 mx-1">{% trans "Delete Selected" %}</button> -->
    </div>
    <div clas=col-sm-auto">
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success text-center" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      {% if object_list %}
      <ul class="list-group list-group-flush">
        {% for lecture in object_list %}
        <li class="list-group-item container-fluid">
          <div class="row d-flex justify-content-between">
            <div class="col-sm-auto d-flex flex-column">
              <div>
                <a href="{% url 'staff:lecture_detail' lecture.id %}" class="mr-2 h4">{{ lecture.title }}</a>
              </div>
              <div>
                <span class="h5"><strong>Creation Date:</strong> {{ lecture.date_created|date:'d/m/Y' }} </span>
                {% if lecture.get_last_active_date %}<span class="h5"><strong>Last Active Date:</strong> {{ lecture.get_last_active_date|date:'d/m/Y' }}</span>{% endif %}
              </div>
            </div>
            <div class="col-sm-auto">
              <a href="{% url 'staff:lecture_delete' lecture.id %}" role="button" class="btn btn-lg btn-danger m-2">
                Delete
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="alert alert-secondary m-5" role="alert"><center><h1 class="display-1 border border-top border-bottom">{% trans 'No Lectures' %}</h1></center></div>
      {% endif %}
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; {% trans "First" %}</a>
        <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
