{% extends 'base_layout.html' %}
{% load i18n %}

{% block title %}{% trans "Lecture History" %}{% endblock %}

{% block nav_options %}
  <div>
    <ul class="navbar-nav mr-auto d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link border-right border-white p-3" href="{% url 'staff:lecture_create' %}" role="button">{% trans "New Lecture" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border-left border-white p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light pb-3">
  <div class="row">
    <div class="col-sm-auto bg-dark d-flex flex-row p-3 rounded-bottom-right">
      <form method="GET" action="" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="{% trans 'Search' %}" value="{{ request.GET.q }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
      </form>
      <!-- <button href="" type="button" class="btn btn-danger my-2 mx-1">{% trans "Delete Selected" %}</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      {% if lecture_list %}
      <ul class="list-group list-group-flush">
        {% for lecture in lecture_list %}
        <li class="list-group-item container-fluid">
          <div class="row d-flex justify-content-between">
            <div class="col-sm-auto d-flex flex-column">
              <div>
                <a href="{% url 'staff:lecture_detail' lecture.id %}" class="mr-2 h4">{{ lecture.title }}</a>
              </div>
              <div>
                <span class="h5"><strong>Creation Date:</strong> {{ lecture.date_created|date:'d/m/Y' }} </span>
                {% if lecture.get_first_started %}<span class="h5"><strong>First Session Date:</strong> {{ lecture.get_first_started|date:'d/m/Y' }}</span>{% endif %}
                {% if lecture.get_last_ended %}<span class="h5"><strong>Last Session Date:</strong> {{ lecture.get_last_ended|date:'d/m/Y' }} </span>{% endif %}
              </div>
            </div>
            <div class="col-sm-auto">
              <a href="{% url 'staff:lecture_delete' lecture.id %}" role="button" class="btn btn-lg btn-danger m-2">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <h3>
        <center>{% trans "There are currently no lecture feedback sessions to display" %}</center>
      </h3>
      {% endif %}
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="pagination">
      <span class="step-links">
        {% if lecture_list.has_previous %}
        <a href="?page=1">&laquo; {% trans "First" %}</a>
        <a href="?page={{ lecture_list.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
          Page {{ lecture_list.number }} of {{ lecture_list.paginator.num_pages }}.
        </span>

        {% if lecture_list.has_next %}
        <a href="?page={{ lecture_list.next_page_number }}">{% trans "next" %}</a>
        <a href="?page={{ lecture_list.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}
