{% load i18n %}
{% load format_extras %}

{% if sessions %}
<h3 class="">{% trans "Feedback Sessions" %}</h3>
<div class="table-responsive">
  <table id="session_table" class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% trans "Session" %}</th>
        <th scope="col">{% trans "Code" %}</th>
        <th scope="col">{% trans "First Startime" %}</th>
        <th scope="col">{% trans "Last Endtime" %}</th>
        <th scope="col">{% trans "Runtime" %}</th>
      </tr>
    </thead>
    <tbody class="bg-light">
      {% for session in sessions %}
      <tr id="{{ session.id }}" class="session_row">
        <th><div class="bg-light p-1 border rounded">{% session_numbering forloop.counter sessions.number per_page %}</div></th>
        <td><div class="bg-light p-1 border rounded">{{ session.code }}</div></td>
        <td><div class="bg-light p-1 border rounded" title="{% for time in session.time_set.all %}{% if forloop.first %}Start Times:&#013;{% endif %}{{ time.start }}&#013;{% endfor %}">
          {% if session.get_first_start_time %}
            {{ session.get_first_start_time|date:'d M, Y - h:i a' }}
          {% else %}
            N/A
          {% endif %}
        </div></td>
        {% if session.is_running %}
          <td><div class="bg-light p-1 border rounded">{% trans "Session Running" %}</div></td>
        {% else %}
          <td><div class="bg-light p-1 border rounded" title="{% for time in session.time_set.all %}{% if forloop.first %}End Times:&#013;{% endif %}{{ time.end }}&#013;{% endfor %}">
            {% if session.get_last_end_time %}
              {{ session.get_last_end_time|date:'d M, Y - h:i a' }}
            {% else %}
              N/A
            {% endif %}
          </div></td>
        {% endif %}
        <td class="time"><div class="bg-light p-1 border rounded">{{ session.get_total_runtime|runtime_format }}</div></td>
        <td class="d-none">
          <div class="bg-light p-1 border rounded options">
            {% if session.is_running %}
            <div class="d-flex flex-row">
              <a id="stop_session_link" href="{% url 'staff:session_stop' session.id %}" role="button" class="btn btn-block btn-lg btn-warning m-2">End Session</a>
            </div>
            {% else %}
            <div class="d-flex flex-row">
              <a id="start_session_link" href="{% url 'staff:session_start' session.id %}" role="button" class="btn btn-block btn-lg btn-success m-2">Start Session</a>
            </div>
            {% endif %}
            <div class="d-flex flex-row">
              {% if not forloop.first %}<a href="{% url 'staff:session_merge_previous' session.id %}" role="button" class="btn btn-block btn-primary m-1">Merge with Above Session</a><br />{% endif %}
              {% if not forloop.last %}<a href="{% url 'staff:session_merge_next' session.id %}" role="button" class="btn btn-block btn-primary m-1">Merge with Below Session</a><br />{% endif %}
            </div>
            <div class="d-flex flex-row">
              <a href="{% url 'staff:session_toggle_questions' session.id %}" role="button" class="btn btn-block btn-secondary m-1">
                {% if session.is_taking_questions %}
                  {% trans "Disable" %}
                {% else %}
                  {% trans "Enable" %}
                {% endif %}
                 {% trans "Questions" %}</a><br />
              <a href="{% url 'staff:session_regenerate_code' session.id %}" role="button" class="btn btn-block btn-secondary m-1">{% trans "Generate New Code" %}</a><br />
            </div>
            <div class="d-flex flex-row">
              <a href="{% url 'staff:session_delete' session.id %}" role="button" class="btn btn-block btn-danger m-1">Delete Session</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if sessions.has_previous %}
            <a class="pagination_link" href="?page=1">&laquo; first</a>
            <a class="pagination_link" href="?page={{ sessions.previous_page_number }}">previous</a>
        {% endif %}

        <span id="session_page" class="current" value="{{ sessions.number }}">
            Page {{ sessions.number }} of {{ sessions.paginator.num_pages }}.
        </span>

        {% if sessions.has_next %}
            <a class="pagination_link" href="?page={{ sessions.next_page_number }}">next</a>
            <a class="pagination_link" href="?page={{ sessions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
  <div class="alert alert-secondary m-5" role="alert"><center>
    <h1 class="display-1 border border-top border-bottom">{% trans 'No Sessions' %}</h1>
  </center></div>
{% endif %}
