{% extends 'base_layout.html' %}
{% load static %}
{% load i18n %}
<!-- {% load bootstrap3 %} -->
{% load format_extras %}

{% block title %}{% trans "Lecture Feedback Detail" %}{% endblock %}


{% block script %}
<script src="{% static 'js/lecture_detail.js' %}"></script>
{% endblock %}

{% block nav_options %}

<div class="shift-nav">
  <ul class="navbar-nav mr-auto d-flex flex-row">
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:feedback_detail' lecture.id %}" role="button">{% trans "View Feedback" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:lecture_list' %}" role="button">{% trans "Lecture History" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-3" href="{% url 'staff:logout' %}" role="button">{% trans "Logout" %}</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-light h-100">
  <div class="row bg-dark">
    <div class="col-sm-3 pt-3 h-100 text-white">
      <a id="new_session_link" href="{% url 'staff:session_new' lecture.id %}" role="button" id="newSessionBtn" class="btn btn-block btn-lg btn-success mr-4">Start New Session</a>
      <div class="my-3"></div>
      <div id="actionsPanel">
        <p>{% trans 'Select a Session' %}</p>
      </div>
      <hr class="border border-white"/>
      <div class="">
        <label for="exampleFormControl1" class="h6">{% trans "Lecture Title" %}</label><a href="{% url 'staff:lecture_update' lecture.id %}" title="Edit this lecture's details" class="float-right">{% trans 'Edit' %}</a>
        <input class="form-control " id="exampleFormControl1" type="text" placeholder="{{lecture.title}}" readonly>
        <label for="exampleFormControl2" class="h6">{% trans "Lecture Author" %}</label>
        <input class="form-control" id="exampleFormControl2" type="text" placeholder="{{user.get_full_name}} {{user.email}}" readonly>
        <label for="exampleFormControl3" class="h6">{% trans "No. Slides" %}</label>
        <input class="form-control" id="exampleFormControl3" type="text" placeholder="{{lecture.slide_count}}" readonly>
        <label for="notesArea" class="h6">{% trans "Notes" %}</label>
        <textarea name="name" rows="8" cols="80" class="form-control" id="notesArea" type="text" placeholder="{{lecture.notes}}" readonly></textarea>
      </div>
      <hr class="border border-white"/>
      <div class="d-flex justify-content-center">
        <label class="mx-1"><input id="sessionCheck" type="checkbox" checked>Show Sessions</label>
        <label class="mx-1"><input id="questionCheck" type="checkbox" checked>Show Questions</label>
      </div>
    </div>
    <div class="col-sm-9 pt-3 h-100 bg-light">
        <div>
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success text-center float-right" role="alert">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              <div class="alert alert-warning text-center float-right" role="alert">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger text-center float-right" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="remember_visibility" id="sessionDiv">
          {% include 'staff/lecture_sessions_list.html' %}
        </div>
        <hr />
        {% if sessions %}
          <div class=" remember_visibility" id="questionDiv">
            {% include 'staff/questions_list.html' %}
          </div>
        {% endif %}
    </div>
  </div>
</div>
<input type="hidden" id="lectureID" name="lecture" value="{{ lecture.id }}">
{% endblock %}
