{% load i18n %}
{% load format_extras %}

<div class="d-flex flex-row justify-content-between">
  <h3>{% trans "Session's Questions" %}{% if not session.is_taking_questions %} <small>[{% trans "Disabled" %}]</small>{% endif %}</h3>
  <h3>{{ session.code }}</h3>
</div>
{% if questions %}
<ul class="list-group list-group-flush">
  {% for question in questions %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-9 fix_overflow">
        {{ question.question_text }}
      </div>
      <div class="col-3">
        <small>{{question.get_time_posted_ago|question_time_format}}</small>
        <a href="{% url 'staff:question_mark_reviewed' question.id %}" role="button" class="btn btn-success btn-sm">{% trans "Mark Reviewed" %}</a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span id="question_page" class="current" value="{{ questions.number }}">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
            <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<div class="alert alert-secondary mx-5" role="alert"><center>
  <h1 class="display-5 border border-top border-bottom">{% trans 'No Questions for this Session' %}</h1>
</center></div>
{% endif %}
