<h1>Session Title: {{lectureToDetail.lecture_title}}</h1>
<h3>Start Time: {{lectureToDetail.start_time}}</h3>
<h3>End Time: {{lectureToDetail.end_time}}</h3>
<hr />
<h3>Questions Asked</h3>
<ul>
{% for question in lectureToDetail.question_set.all %}
  <li>{{question.question_text}}</li>
{% endfor %}
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'student_feedback:ask' lectureToDetail.id %}" method="post">
{% csrf_token %}
<input name="question_asked" id="input1">
<label for="input1">Ask Question</label><br>
<input type="submit" value="Ask">
</form>
